* {
  margin: 0%;
}
body {
  box-sizing: border-box;
}
.header {
  display: flex;
  position: static;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.198);
}
.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 15px;
}
input {
    border: none;
    background-color: #f2f2f2;
    font-weight: 500;
    font-size: 18px;
    margin: 10px;
    width: 340px;
    height: 20px;
  }
  .header > h1{
      color: #2b6777;
      text-shadow: 5px 5px 5px #2b6777a2;
  }
  input:focus {
    outline: none;
  }
  button{
      height: 50px;
      width: 130px;
      padding: 10px;
      font-size: 22px;
      border: none;
      background-color: #f2f2f200;
      border-radius: 12px;
  }
  a{
      color: black;
  }
  a:link{
      text-decoration: none;
  }
  button:hover{
      background-color: #f2f2f2;
  }

